NETWORK=custom
API_BATCH_SIZE=10
WORKCHAIN=-1
WALLET_ID=42
MASTER_WALLET_VERSION=V3R2
MASTER_WALLET_KEY=
API_ENDPOINTS="http://127.0.0.1:3301"
NODECTL_CONFIG_PATH=../../../node-control/nodectl-local-generated.json
NODECTL_INITIAL_BALANCE=100100